@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    text-rendering: optimizeLegibility;
    background-color: var(--background);
}

.sans {
    color: var(--foreground);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.serif {
    color: var(--foreground);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 38px;
}

.big {
    font-size: 50px;
    line-height: 1.1;
}

.very-big {
    font-size: 200px;
    line-height: 1.1;
}

.outline {
    -webkit-text-stroke: 1px var(--foreground);
    color: var(--background);
}

a {
    color: var(--foreground);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--foreground);
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    color: var(--foreground-secondary);
    border-bottom: 1px solid var(--foreground-secondary);
}

a.icon {
    border-bottom: none !important;
}

.title {
    text-decoration: none;
    border-bottom: none !important;
}

.container-fluid {
    padding: 30px;
}

.gallery-item {
    background-color: var(--foreground-secondary);
    height: auto;
    width: 100%;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clamp-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}